{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  	<h1>Collusive User Detection Tool</h1>
  	<label for="usr">Please enter the Twitter user ID or Twitter handle (@handle):</label>
  		<input type="text" class="form-control" id="usr" placeholder="User ID or Twitter handle"> 
	</label>
</div>
<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>

{% endblock %}
